/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2019, 01:24:24 PM
    Author     : jomartinez
*/

/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
    font-family: Verdana;
    font-size: 12pt;
    overflow: hidden;
    position: relative;
}

                       
/*Variables*/
:root{
    --primary-0: #23445A;
    --primary-1: #36586E;
    --primary-2: #567487;
    --primary-3: #123044;
    --primary-4: #041C2C;
    --primary-5: #f1f1f1;
    --banner-height:110px;
    --ribon-height:35px;
    --footer-height:23px;
}

#container
{
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: var(--banner-height) var(--ribon-height) 1fr var(--footer-height);
    grid-template-areas:"header header"
        "ribon ribon"
        "sidebar content"
        "footer footer";
}

#header
{
    grid-area: header;
    background-color: var(--primary-0);    
}

#ribon
{
    grid-area: ribon;
    background-color: var(--primary-1);
}

#content
{
    grid-area: content;
    background-color: #ffffff;
}



#footer
{
    grid-area: footer;
    overflow-y: auto;
    background-color: var(--primary-5);
}